<link rel="stylesheet" href="/stylesheets/searchStyle.css" />

<header>
  <h1 role="banner">easytune</h1>
</header>

<div class="filter">
  <input type="text" placeholder="filter results"></input>
  <button type="submit">🔎</button>
  <nav role="navigation" class="navbar">
    <ul id="sub">
      <li class="nav">
        <form action="../profile"> <input type="submit" value="Profile"></form>
      </li>
      <li class="nav" id="logoutBtn">
        <form action="../signup"><input type="submit" value="Logout"></form>
      </li>
    </ul>
  </nav>
</div>

<ul id="resultsList" class="container">

  {{#each events}}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <p class="card-text">[ {{this.classifications.[0].genre.name}} ] <br>
        where: {{this._embedded.venues.[0].name}} <br>
        when: {{this.dates.start.localDate}}, {{this.dates.start.localTime}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  {{else}}

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Berlin sleeps - we've found no {{this.classifications.[0].genre.name}} events</h5>
      <p class="card-text">
        <a href="/"><input type="submit" value="Get Me Home!"></a></p>
    </div>
  </div>
  {{/each}}

  <script src="/javascripts/script.js"></script>