<link rel="stylesheet" href="/stylesheets/searchStyle.css" />

<header>
  <h1 role="banner"><span class="o">easy</span>tune</h1>
</header>

<div class="filter">
  <input type="text" placeholder="filter results"></input>
  <button type="submit">🔎</button>
  <nav role="navigation" class="navbar">
    <ul id="sub">
      <li class="nav">
        <form action="../profile"> <input type="submit" value="Profile"></form>
      </li>
      <li class="nav" id="logoutBtn">
        <form action="../signup"><input type="submit" value="Logout"></form>
      </li>
    </ul>
  </nav>
</div>

<ul id="resultsList" class="flex-box">
  {{#each events}}
  <li>{{this.name}} [ {{this.classifications.[0].genre.name}} ] <br>
    where: {{this._embedded.venues.[0].name}} <br>
    when: {{this.dates.start.localDate}}, {{this.dates.start.localTime}}
  </li>
  {{else}}
  <li class="noResult">Berlin sleeps - we've found no {{this.classifications.[0].genre.name}} events
    <br>
    <a href="/"><input type="submit" value="Get Me Home!"></a>
  </li>
  {{/each}}
</ul>

<li class="noResult">Berlin sleeps - we've found no {{genre}} events
  <br>
  <a href="/"><input type="submit" value="Get Me Home!"></a>
</li>
</ul>

<script src="/javascripts/script.js"></script>